body {
  font-family: "Open Sans", sans-serif;
  background-image: url("http://a2.att.hudong.com/88/74/20300001051366130657742556721.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.CrimeRate{
  font-family:fantasy;
  font-feature-settings: normal;
  font-size: 200%;
  color:brown;
  font-weight: 600;
}
.Temperature{
  font-family:fantasy;
  font-feature-settings: normal;
  font-size: 200%;
  color:black;
  font-weight: 600;
}
.Population {
  font-family:fantasy;
  font-feature-settings: normal;
  font-size: 200%;
  color:mistyrose;
  font-weight: 600; 
}
.Landscape{
  font-family:fantasy;
  font-feature-settings: normal;
  font-size: 200%;
  color:aqua;
  font-weight: 600; 
}
.Area{
  font-family:fantasy;
  font-feature-settings: normal;
  font-size: 200%;
  color:darkgreen;
  font-weight: 600; 
}
